
/* 
    Created on : May 14, 2014, 8:03:03 PM
    Author     : davidlandi
*/

body{
    background: url('../img/bgMain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron{
    background-color: #3498db;
}
hr{
    border-top: 1px solid #bdc3c7;
    margin-right: 20px;
}
.shadow{
    box-shadow: 0px 0px 10px #000000;
}
.padR{
    margin-right: 10px;
}
.colorWhite{
    background-color: #ecf0f1;
}
.marginTop{
    margin-top: 20px;
}
.marginBtm{
    margin-bottom: 20px;
}
#footer{
   margin-top: 20px; 
}

.container {
  margin: 0 auto;
  max-width: 960px;
}
.maxWidth{
    max-width: 810px;
}

.round{
    border-radius: 10px;
}

.imageIcon:hover {
-webkit-transform: rotate(360deg); transform: rotate(360deg);
}
.imageIcon {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}

.colorBlack{
    background-color: black;
}
#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}