html{
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ecf0f1;
  position: relative;
}


ul label{
	width:100px;
	float:left;
}

input[type=button]:hover {
    background: linear-gradient(to right, #e570e7 0%,#c85ec7 47%,#a849a3 100%); 
}
        
input[type=text]:hover {
    background-color: #e9f6fd;
}
#mainFrm label.error{
    color: red;
    margin-top: 5px;
    font-size: 10px;
    position:absolute;
    text-align: center;
}
#mainFrm input.error{
    border: 1px solid red;
}

#mainCore{
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    position: relative;
    margin:0 auto;
    margin: 1em auto; 
}
header{
    float:left;
    margin-top: 100px;
    width: 100%;  
}
#title{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
/*    margin-bottom: 10px;*/
    width: 400px;
   height: 100px;
    background-color: #34495e;
    border: 1px solid #999999;
    box-shadow: 0px 0px 5px #000000;
    text-align:  center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-style:  italic;
    font-size: 30px;
    line-height: 25px;
    color: #7f8c8d;

text-shadow: 5px 5px 5px black;
}
#titleRight{
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    width: 60%;
    min-width: 400px;
    height: 100px;
    background-color: #34495e;
    border: 1px solid #999999;
    box-shadow: 0px 0px 5px #000000;
    text-align:  center;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 20px;
    color: #7f8c8d;
    text-shadow: 2px 2px 2px black;
}

.btn{
  text-decoration: none; 
  color: #7f8c8d;
}
.box{
/*    margin-top: 10px;*/
}

